In [2]:
import pandas as pd
import numpy as np
import datetime as dt

In [3]:
df = pd.read_csv("/Users/eormacstudio/Documents/GitHub/GRANDWin/data/raw/observation_id/observation_id.csv", header=0, engine='python')
df['date'] = df.starttime_utc.apply(lambda x: dt.datetime.strptime(x, "%Y-%m-%dT%H:%M:%S.000Z").date())
df['date_time'] = df.starttime_utc.apply(lambda x: dt.datetime.strptime(x, "%Y-%m-%dT%H:%M:%S.000Z"))
df['partition'] = pd.factorize(df['date'])[0] + 1
df = df[df['partition'] == 1].reset_index(drop=True)

In [4]:
df

,Unnamed: 0,obs_id,starttime,stoptime,duration,starttime_mjd,stoptime_mjd,starttime_utc,stoptime_utc,starttime_mro,...,geometric_delays,geometric_delays_description,calibration_delays,oversampled_flag,deripple_flag,deripple_params,deletion_pending_flag,date,date_time,partition
0,0,1095449728,1095449728,1095449840,112,56922.816,56922.816,2014-09-22T19:35:12.000Z,2014-09-22T19:37:04.000Z,2014-09-23T03:35:12.000Z,...,0,NaN,False,False,False,NaN,False,2014-09-22,2014-09-22 19:35:12,1
1,1,1095449848,1095449848,1095449960,112,56922.816,56922.820,2014-09-22T19:37:12.000Z,2014-09-22T19:39:04.000Z,2014-09-23T03:37:12.000Z,...,0,NaN,False,False,False,NaN,False,2014-09-22,2014-09-22 19:37:12,1
2,2,1095449968,1095449968,1095450080,112,56922.820,56922.820,2014-09-22T19:39:12.000Z,2014-09-22T19:41:04.000Z,2014-09-23T03:39:12.000Z,...,0,NaN,False,False,False,NaN,False,2014-09-22,2014-09-22 19:39:12,1
3,3,1095450088,1095450088,1095450200,112,56922.820,56922.820,2014-09-22T19:41:12.000Z,2014-09-22T19:43:04.000Z,2014-09-23T03:41:12.000Z,...,0,NaN,False,False,False,NaN,False,2014-09-22,2014-09-22 19:41:12,1
4,4,1095450216,1095450216,1095450328,112,56922.820,56922.824,2014-09-22T19:43:20.000Z,2014-09-22T19:45:12.000Z,2014-09-23T03:43:20.000Z,...,0,NaN,False,False,False,NaN,False,2014-09-22,2014-09-22 19:43:20,1
5,5,1095450336,1095450336,1095450448,112,56922.824,56922.824,2014-09-22T19:45:20.000Z,2014-09-22T19:47:12.000Z,2014-09-23T03:45:20.000Z,...,0,NaN,False,False,False,NaN,False,2014-09-22,2014-09-22 19:45:20,1
6,6,1095450456,1095450456,1095450568,112,56922.824,56922.830,2014-09-22T19:47:20.000Z,2014-09-22T19:49:12.000Z,2014-09-23T03:47:20.000Z,...,0,NaN,False,False,False,NaN,False,2014-09-22,2014-09-22 19:47:20,1
7,7,1095450576,1095450576,1095450688,112,56922.830,56922.830,2014-09-22T19:49:20.000Z,2014-09-22T19:51:12.000Z,2014-09-23T03:49:20.000Z,...,0,NaN,False,False,False,NaN,False,2014-09-22,2014-09-22 19:49:20,1
8,8,1095450704,1095450704,1095450816,112,56922.830,56922.830,2014-09-22T19:51:28.000Z,2014-09-22T19:53:20.000Z,2014-09-23T03:51:28.000Z,...,0,NaN,False,False,False,NaN,False,2014-09-22,2014-09-22 19:51:28,1
9,9,1095450824,1095450824,1095450936,112,56922.830,56922.832,2014-09-22T19:53:28.000Z,2014-09-22T19:55:20.000Z,2014-09-23T03:53:28.000Z,...,0,NaN,False,False,False,NaN,False,2014-09-22,2014-09-22 19:53:28,1
10,10,1095450944,1095450944,1095451056,112,56922.832,56922.832,2014-09-22T19:55:28.000Z,2014-09-22T19:57:20.000Z,2014-09-23T03:55:28.000Z,...,0,NaN,False,False,False,NaN,False,2014-09-22,2014-09-22 19:55:28,1
11,11,1095451064,1095451064,1095451176,112,56922.832,56922.832,2014-09-22T19:57:28.000Z,2014-09-22T19:59:20.000Z,2014-09-23T03:57:28.000Z,...,0,NaN,False,False,False,NaN,False,2014-09-22,2014-09-22 19:57:28,1
12,12,1095451192,1095451192,1095451304,112,56922.832,56922.836,2014-09-22T19:59:36.000Z,2014-09-22T20:01:28.000Z,2014-09-23T03:59:36.000Z,...,0,NaN,False,False,False,NaN,False,2014-09-22,2014-09-22 19:59:36,1
13,13,1095451312,1095451312,1095451424,112,56922.836,56922.836,2014-09-22T20:01:36.000Z,2014-09-22T20:03:28.000Z,2014-09-23T04:01:36.000Z,...,0,NaN,False,False,False,NaN,False,2014-09-22,2014-09-22 20:01:36,1
14,14,1095451432,1095451432,1095451544,112,56922.836,56922.836,2014-09-22T20:03:36.000Z,2014-09-22T20:05:28.000Z,2014-09-23T04:03:36.000Z,...,0,NaN,False,False,False,NaN,False,2014-09-22,2014-09-22 20:03:36,1
15,15,1095451552,1095451552,1095451664,112,56922.836,56922.840,2014-09-22T20:05:36.000Z,2014-09-22T20:07:28.000Z,2014-09-23T04:05:36.000Z,...,0,NaN,False,False,False,NaN,False,2014-09-22,2014-09-22 20:05:36,1
16,16,1095451680,1095451680,1095451792,112,56922.840,56922.840,2014-09-22T20:07:44.000Z,2014-09-22T20:09:36.000Z,2014-09-23T04:07:44.000Z,...,0,NaN,False,False,False,NaN,False,2014-09-22,2014-09-22 20:07:44,1
17,17,1095451800,1095451800,1095451912,112,56922.840,56922.840,2014-09-22T20:09:44.000Z,2014-09-22T20:11:36.000Z,2014-09-23T04:09:44.000Z,...,0,NaN,False,False,False,NaN,False,2014-09-22,2014-09-22 20:09:44,1
18,18,1095451920,1095451920,1095452032,112,56922.844,56922.844,2014-09-22T20:11:44.000Z,2014-09-22T20:13:36.000Z,2014-09-23T04:11:44.000Z,...,0,NaN,False,False,False,NaN,False,2014-09-22,2014-09-22 20:11:44,1
19,19,1095452040,1095452040,1095452152,112,56922.844,56922.844,2014-09-22T20:13:44.000Z,2014-09-22T20:15:36.000Z,2014-09-23T04:13:44.000Z,...,0,NaN,False,False,False,NaN,False,2014-09-22,2014-09-22 20:13:44,1
20,20,1095452168,1095452168,1095452280,112,56922.844,56922.848,2014-09-22T20:15:52.000Z,2014-09-22T20:17:44.000Z,2014-09-23T04:15:52.000Z,...,0,NaN,False,False,False,NaN,False,2014-09-22,2014-09-22 20:15:52,1
21,21,1095452288,1095452288,1095452400,112,56922.848,56922.848,2014-09-22T20:17:52.000Z,2014-09-22T20:19:44.000Z,2014-09-23T04:17:52.000Z,...,0,NaN,False,False,False,NaN,False,2014-09-22,2014-09-22 20:17:52,1
22,22,1095452408,1095452408,1095452520,112,56922.848,56922.848,2014-09-22T20:19:52.000Z,2014-09-22T20:21:44.000Z,2014-09-23T04:19:52.000Z,...,0,NaN,False,False,False,NaN,False,2014-09-22,2014-09-22 20:19:52,1
23,23,1095452528,1095452528,1095452640,112,56922.848,56922.850,2014-09-22T20:21:52.000Z,2014-09-22T20:23:44.000Z,2014-09-23T04:21:52.000Z,...,0,NaN,False,False,False,NaN,False,2014-09-22,2014-09-22 20:21:52,1
24,24,1095452656,1095452656,1095452768,112,56922.850,56922.850,2014-09-22T20:24:00.000Z,2014-09-22T20:25:52.000Z,2014-09-23T04:24:00.000Z,...,0,NaN,False,False,False,NaN,False,2014-09-22,2014-09-22 20:24:00,1
25,25,1095452776,1095452776,1095452888,112,56922.850,56922.850,2014-09-22T20:26:00.000Z,2014-09-22T20:27:52.000Z,2014-09-23T04:26:00.000Z,...,0,NaN,False,False,False,NaN,False,2014-09-22,2014-09-22 20:26:00,1
26,26,1095452896,1095452896,1095453008,112,56922.850,56922.855,2014-09-22T20:28:00.000Z,2014-09-22T20:29:52.000Z,2014-09-23T04:28:00.000Z,...,0,NaN,False,False,False,NaN,False,2014-09-22,2014-09-22 20:28:00,1
27,27,1095453016,1095453016,1095453128,112,56922.855,56922.855,2014-09-22T20:30:00.000Z,2014-09-22T20:31:52.000Z,2014-09-23T04:30:00.000Z,...,0,NaN,False,False,False,NaN,False,2014-09-22,2014-09-22 20:30:00,1
28,28,1095453144,1095453144,1095453256,112,56922.855,56922.855,2014-09-22T20:32:08.000Z,2014-09-22T20:34:00.000Z,2014-09-23T04:32:08.000Z,...,0,NaN,False,False,False,NaN,False,2014-09-22,2014-09-22 20:32:08,1
29,29,1095453264,1095453264,1095453376,112,56922.860,56922.860,2014-09-22T20:34:08.000Z,2014-09-22T20:36:00.000Z,2014-09-23T04:34:08.000Z,...,0,NaN,False,False,False,NaN,False,2014-09-22,2014-09-22 20:34:08,1
30,30,1095453384,1095453384,1095453496,112,56922.860,56922.860,2014-09-22T20:36:08.000Z,2014-09-22T20:38:00.000Z,2014-09-23T04:36:08.000Z,...,0,NaN,False,False,False,NaN,False,2014-09-22,2014-09-22 20:36:08,1
31,31,1095453504,1095453504,1095453616,112,56922.860,56922.863,2014-09-22T20:38:08.000Z,2014-09-22T20:40:00.000Z,2014-09-23T04:38:08.000Z,...,0,NaN,False,False,False,NaN,False,2014-09-22,2014-09-22 20:38:08,1
32,32,1095453632,1095453632,1095453744,112,56922.863,56922.863,2014-09-22T20:40:16.000Z,2014-09-22T20:42:08.000Z,2014-09-23T04:40:16.000Z,...,0,NaN,False,False,False,NaN,False,2014-09-22,2014-09-22 20:40:16,1